<div class="boost-pfs-filter-product-item boost-pfs-filter-product-item-grid [[gridWidthClass]][[soldOutClass]][[saleClass]] [[itemActiveSwapClass]]">
    <div class="boost-pfs-filter-product-item-inner">
        <div class="boost-pfs-filter-product-item-image">
            [[itemImages]]
            <div class="boost-pfs-filter-product-item-label">[[itemLabels]][[itemTagLabels]]</div>
        </div>

        <div class="boost-pfs-filter-product-bottom">
            <a href="[[itemUrl]]#" class="boost-pfs-filter-product-item-title">[[itemTitle]]</a>
            [[itemVendor]]
            [[itemReviews]]
            [[itemPrice]]
            [[itemColorSwatches]]
        </div>
    </div>
</div>