
.hiro-chat-widget-toggle {
    background: transparent;
    margin-right: 5px;
    border: 0 !important;
    box-shadow: 0 !important;
    min-width: 0;
}

.hiro-chat-widget-toggle:hover {
    padding: 2px !important;
    background: transparent !important;
    outline: 0 !important;
    border: 0 !important;
    box-shadow: 0 !important;
}

iframe {
    margin-bottom: 0 !important;
}