.gar_img
  {
    position: relative;
    width: 100%;
    margin: 0 auto;
    left: 80px;
    top: 25px;
  }
  .gar_img img {
    width: 65%;
}
@media screen and (max-width: 479px) {
  .gar_img{
  left:50px;
  }
}