{% section 'side-cart' %}

<div class="shipping-template">
    <div class="container">
        <div class="shipping-content">
            <h1>Shipping</h1>
            <p>We've heard your requests so Radford now ships worldwide! 
                However, please note that additional duties and taxes may apply depending on your location.</p>



            <h2>Canada/US:</h2>
            <ul>
                <li>Standard Shipping  <span> CA$10</span> </li>
                <li>Free standard shipping on orders over <span> CA$50</span> </li>
            </ul>


            <h2>UK:</h2>
            <ul>
                <li>Standard Shipping <span> CA$25 (approx. 2-4 weeks)</span> </li>
                <li>Expedited Shipping <span> CA$50 (approx. 1 week)</span> </li>
                <li>Free standard shipping on orders over <span> CA$150</span>  </li>
            </ul>


            <h2>Rest Of the World</h2>
            <ul>
                <li>Standard Shipping <span> CA$30</span> </li>
            </ul>
        </div>
    </div>
</div>