{% section 'side-cart' %}

<div class="cancellation-policy-template">
    <div class="container">
        <div class="cancellation-policy-content">
           <h1>Cancellation Policy</h1>


           <ul>
               <li>24 hours notice or more is required for all appointment cancellations or a $25 fee will be applied.  However, there will be no cancellation fees charged during this time for cancellations due to illness.  Take care of yourself and we will get you rebooked for when you're feeling healthy. 
            </li>
            <li>Due to the high demand for appointments, no-show appointments will be charged the full amount of the appointment and payment will be required before rebooking.</li>
            <li>Please arrive on time for your appointment.  If you arrive early we ask that you please wait in your car or outside of the studio.  Anyone arriving more than 10mins late may need to reschedule their booking.</li>
           </ul>
        </div>
    </div>
</div>