{% section 'side-cart' %}

<div class="contact-us-template">
    <div class="container">
        <div class="upper-div">
            <div class="reach-us-at">
                <h2>reach Out <br>
                     to us at</h2>
                <div class="mail-us">
                    <p>Mail Us</p>
                    <a href="mailto:info@victoriaradford.com">info@victoriaradford.com</a> 
                </div>
                <!-- <div class="chat-with-us">
                    <p>Chat with us at</p>
                    <a>@chatsupport</a>
                </div> -->
            </div>
            <div class="our-studio">
                <h2>Our Studio</h2>

            <div class="address-timing-wrapper">       
                <div class="address">
                    <p>Address</p>
                    <span>
                        55 Avenue Road, Unit #210<br/> 
                        Upper Level, Under the Skylight<br/>
                        Toronto, ON, Canada<br/>
                        M5R 3L2
                    </span>
                    <span class="webAddress desktop-only">
                        <a href="/pages/book-online">Visit website 
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.4583 9.77157H3.95834" stroke="#212121" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.4168 4.75116L16.4585 9.77116L11.4168 14.792" stroke="#212121" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        </a>
                    </span>
                </div>
                <div class="timings">
                    <p>Timings</p>
                    <div class="timings__links">
                        <p><span>Mon - </span>10:00 AM - 5:00 PM</p>
                        <p><span>Tue & Wed - </span>10:00 AM - 6:00 PM</p>
                        <p><span>Thu - </span>10:00 AM - 5:00 PM</p>
                        <p><span>Fri - </span>10:00 AM - 7:00 PM</p>
                        <p><span>Sat - </span>9:00 AM - 6:00 PM</p>
                        <p><span>Sun - </span>11:00 AM - 5:00 PM</p>
                    </div>
                    <span class="webAddress mobile-only">
                        <a href="/pages/book-online">Visit website 
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.4583 9.77157H3.95834" stroke="#212121" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.4168 4.75116L16.4585 9.77116L11.4168 14.792" stroke="#212121" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        </a>
                    </span>

                </div>
            </div>

            </div>
        </div>
        <div class="lower-div">
            <div class="left-div">
                <h2>Looking for <br>
                    something else?</h2>
                    {{'radford-contact-us.jpg'  | asset_img_url: 'master' | img_tag}}
            </div>
            <div class="right-div">
                <div class="link__item returns ">
                    <h3><a href="/pages/returns-and-refund-policy">
                        Returns
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.4583 9.77157H3.95834" stroke="#B98876" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.4168 4.75116L16.4585 9.77116L11.4168 14.792" stroke="#B98876" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg> 
                    </a>     
                    </h3>
                    <p>You have 30 days to return an item from the date you received it. To be eligible for a return...</p>
                </div>
                <div class="link__item shipping ">
                    <h3><a href="/pages/shipping-1">
                        Shipping
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.4583 9.77157H3.95834" stroke="#B98876" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.4168 4.75116L16.4585 9.77116L11.4168 14.792" stroke="#B98876" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>  
                    </a>    
                    </h3>
                    <p>
                        We’ve heard your requests so Radford now ships worldwide! However, please note that additional...
                    </p>
                </div>
                <div class="link__item payment ">
                    <h3><a href="/pages/payment-methods">
                        Payment
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.4583 9.77157H3.95834" stroke="#B98876" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.4168 4.75116L16.4585 9.77116L11.4168 14.792" stroke="#B98876" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>   
                    </a>   
                    </h3>
                    <p>
                        We are proud to accept the following methods of payment: Visa, Mastercard AMEX, Discover card...
                    </p>
                </div>
                {% comment %}<div class="link__item faqs ">
                    <h3><a href="/pages/faqs">
                        FAQs
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.4583 9.77157H3.95834" stroke="#B98876" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.4168 4.75116L16.4585 9.77116L11.4168 14.792" stroke="#B98876" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>   
                    </a>   
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Accumsan risus elit, amet proin.
                    </p>
                </div>{% endcomment %}
            </div>
        </div>

    </div>
</div>