{% section 'side-cart' %}

<div class="returns-and-refund-policy-template">
    <div class="container">
        <div class="rrp_sidebar">
            <ul>
                <li><p class="rrp_sidebar_link" data-section="returns_sec">Returns</p></li>
                <li><p class="rrp_sidebar_link" data-section="refund_sec">Refund</p></li>
                <li><p class="rrp_sidebar_link" data-section="exchange_sec">Exchange</p></li>
                <li><p class="rrp_sidebar_link" data-section="shipping_sec">Shipping</p></li>
            </ul>
            
        </div>
        <div class="rrp_main-content">
            <h1>Returns & Refund Policy</h1>
            <p class="p_one">Thank you for shopping at Radford!</p>
               <p class="p_two"> If you are not entirely satisfied with your purchase, we're here to help.
                </p>

            <div class="rrp_sections" id="returns_sec">
                <h2>RETURNS</h2>
                <p>You have 30 days to return an item from the date you received it. <br> <br>

                    To be eligible for a return, your item must be unused and in the same condition that you received it. 
                    <br> <br>
                    Your item must be in the original packaging. 
                    <br> <br>
                    Your item needs to have the receipt or proof of purchase. 
                    <br> <br>
                    If 30 days have gone by since your purchase, unfortunately we cannot offer you a refund or exchange.
                    <br> <br>
                    Only regular priced items may be refunded, unfortunately sale items cannot be refunded.
                    </p>
            </div>
            <div class="rrp_sections" id="refund_sec">
                <h2>REFUND</h2>
                <p>
                    Once we receive your item, we will inspect it and notify you that we have received your returned item. We will immediately notify you on the status of your refund after inspecting the item.
  <br> <br>
If your return is approved, we will initiate a refund to your credit card (or original method of payment). 
<br> <br>
You will receive the credit within a certain amount of days, depending on your card issuer's policies.
                </p>
            </div>

            <div class="rrp_sections" id="exchange_sec">
                <h2>EXCHANGE</h2>
                <p>
                    Once we receive your item, we will inspect it and notify you that we have received your returned item. We will immediately notify you on the status of your refund after inspecting the item.
                    <br> <br>
If your return is approved, we will initiate a refund to your credit card (or original method of payment). 
<br> <br>
You will receive the credit within a certain amount of days, depending on your card issuer's policies.
                </p>
            </div>

            <div class="rrp_sections" id="shipping_sec">
                <h2>SHIPPING</h2>
                <p>
                    Once we receive your item, we will inspect it and notify you that we have received your returned item. We will immediately notify you on the status of your refund after inspecting the item.
<br> <br>
If your return is approved, we will initiate a refund to your credit card (or original method of payment). 
<br> <br>
You will receive the credit within a certain amount of days, depending on your card issuer's policies.
                </p>
            </div>

        </div>
    </div>
</div>