{% section 'side-cart' %}

<div class="payment-methods-template">
    <div class="container">
        <div class="payment-methods-content">
          <h1>Payment Methods</h1>

          <p class="first-para">We are proud to accept the following methods of payment:</p>

          <ul>
              <li>Visa</li>
              <li>Mastercard</li>
              <li>AMEX</li>
              <li>Discover card</li>
              <li>JCB</li>
              <li>Diners Club</li>
              <li>PayPal</li>
          </ul>


          <p class="second-para">For all credit cards, your provided payment method with be Authorized for the full amount displayed at checkout.</p>

          <h3>Any questions, do not hesitate to contact support!</h3>
        </div>
    </div>
</div>