{% render 'shogun-products', content: page %}
{% section 'side-cart' %}

<div class="sub-page-template">
  {% section 'tps-featured-carousel-sub' %}
  {% section 'sub-perks' %}
  {% section 'sub-image-with-text' %}
  {% section 'sub-featured-collection' %}
  {% section 'sub-faq' %}
</div>
